.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--fs-base);
}

.container > header {
  text-align: center;
}

.container > header > h1 {
  font-size: var(--fs-xl);
  font-weight: bold;
}

.container > header > span {
  font-size: var(--fs-sm);
}

.container > main {
  width: 100vw;
  padding: var(--fs-base);
}
